BasedOnStyle: Google
Language: Cpp

# Indentation & Line Length
IndentWidth: 4
ColumnLimit: 100
TabWidth: 4
UseTab: Never

# Braces & Alignment
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Pointer / Reference Alignment
PointerAlignment: Right